<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/7fd798150d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/containers.css}" />
    <title>Formulário de eventos</title>
  </head>
  <body>
    <main class="mainForm">
      <form
        th:action="${method} == 'save' ? @{/event/addEvent} : @{/event/updateEvent}"
        th:object="${event}"
        method="post"
      >
        <input
          type="hidden"
          th:field="*{id}"
          th:value="${event.id} ? ${event.id} : ''"
        />
        <input
          type="hidden"
          th:field="*{active}"
          th:value="${event.active} ? ${event.active} : true"
        />

        <p>Nome do evento:</p>
        <input
          type="text"
          th:field="*{name}"
          th:value="${event.name} ? ${event.name} : ''"
          name="name"
        />
        <br />
        <p>Descrição do evento:</p>
        <input
          type="text"
          th:field="*{description}"
          th:value="${event.description} ? ${event.description} : ''"
          name="description"
        />
        <p>Tipo do evento:</p>
        <select th:field="*{type}" name="type">
          <option
            th:each="eventType : ${T(imd.eventhub.model.EventType).values()}"
            th:value="${eventType}"
            th:text="${eventType.getName()}"
          ></option>
        </select>
        <br />
        <p>Data de início:</p>
        <input
          type="datetime-local"
          th:field="*{initialDate}"
          th:value="${event.initialDate} ? ${event.initialDate} : ''"
          name="initialDate"
        /><br />
        <p>Data do fim:</p>
        <input
          type="datetime-local"
          th:field="*{finalDate}"
          th:value="${event.finalDate} ? ${event.finalDate} : ''"
          name="finalDate"
        /><br />
        <p>Lotação máxima:</p>
        <input
          type="text"
          th:field="*{maximumCapacity}"
          th:value="${event.maximumCapacity} ? ${event.maximumCapacity} : ''"
          name="maximumCapacity"
        /> <br />
        <p>Local:</p>
        <input
          type="text"
          th:field="*{address}"
          th:value="${event.address} ? ${event.address} : ''"
          name="address"
        /> <br />
        <button type="submit">Enviar</button>
      </form>
    </main>
  </body>
</html>
