<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de participante</title>
</head>
<body>
<a th:href="@{/person/personList}">Voltar</a><br/><br/>
Formulário de participantes
<form th:action="${method} == 'save' ? @{/person/addAttraction} : @{/person/updateAttraction}" th:object="${attraction}" method="post">
    <input type="hidden" th:field="*{id}" th:value="${attraction.id} ? ${attraction.id} : ''" />
    <p>nome:</p>
    <input type="text" th:field="*{name}" th:value="${attraction.name} ? ${attraction.name} : ''" name="name"/>
    <p>cpf:</p>
    <input type="text" th:field="*{cpf}" th:value="${attraction.cpf} ? ${attraction.cpf} : ''" name="cpf"/>
    <p>data de nascimento:</p>
    <input type="date" th:field="*{birthDate}" th:value="${attraction.birthDate} ? ${attraction.birthDate} : ''" name="birthDate"/><br/>
    <p>Contato:</p>
    <input type="text" th:field="*{contact}" th:value="${attraction.contact} ? ${attraction.contact} : ''" name="contact"/><br/>
    <p>Descrição:</p>
    <textarea th:field="*{description}" th:value="${attraction.description} ? ${attraction.description} : ''" name="description"></textarea>
    <button type="submit">Enviar</button>
</form>
</body>
</html>