<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de pessoas</title>
</head>
<body>
    <a th:href="@{/}">Voltar</a><br/>
    <a th:href="@{/person/participantForm}"><button>Cadastrar Participante</button></a><br/><br/>
    <a th:href="@{/person/attractionForm}"><button>Cadastrar Atração</button></a><br><br>

    <h3>Lista de Participantes</h3>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cpf</th>
                <th>Data de Nascimento</th>
                <th colspan="2">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="participant : ${participantList}">
                <td><a th:href="@{/person/participantProfile/{id}(id=${participant.id})}" th:text="${participant.name}"></a></td>
                <td th:text="${participant.cpf}"></td>
                <td th:text="${participant.birthDate}"></td>
                <td><a th:href="@{/person/updateParticipant/{id}(id=${participant.id})}">Editar</a></td>
                <td><a th:href="@{/person/deleteParticipant/{id}(id=${participant.id})}">Apagar</a></td>

            </tr>
        </tbody>
    </table>
    <h3>Lista de Atrações</h3>
    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Data de Nascimento</th>
            <th>Contato</th>
            <th>Descrição</th>
            <th colspan="2">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="attraction : ${attractionList}">
            <td th:text="${attraction.name}"></td>
            <td th:text="${attraction.cpf}"></td>
            <td th:text="${attraction.birthDate}"></td>
            <td th:text="${attraction.contact}"></td>
            <td th:text="${attraction.description}"></td>
            <td><a th:href="@{/person/updateAttraction/{id}(id=${attraction.id})}">Editar</a></td>
            <td><a th:href="@{/person/deleteAttraction/{id}(id=${attraction.id})}">Apagar</a></td>
        </tr>
        </tbody>
    </table>

    <h3>Lista de Pessoas</h3>
</body>
</html>